# 이 파일을 복사해서 application-local.yml로 작성

spring:
  datasource:
    url: jdbc:h2:mem:chess
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379
jwt:
  secret: # 32자 이상 임의의 문자열
  access-expiration: 1800000      # 30분 (ms)
  refresh-expiration: 604800000   # 7일 (ms)
stockfish:
    path: /path/to/stockfish